<div id='divGameForm' #gameForm
  [ngStyle]="{'max-width.px': formWidth()}" 
  appNoRightClick>
    
  <app-game-header 
    [FlagCount]="flagCount" 
    [Elapsed]="elapsed"
    [GameOver]="gameOver"
    [GameOption]="GameOption"
    (toggleConfigClick)="onToggleConfigClick()"
    (restartClick)="onRestartClick()"
  ></app-game-header>

  <app-game-board
    [GameOption]="GameOption"
    [Board]="board"
    (cellClick)="onCellClicked($event)"
  ></app-game-board>

</div>

<div id='divConfigPanel' #configPanel>
  <app-game-config
    [GameOption]="GameOption"
    (optionChanged)="onOptionChanged($event)"
  ></app-game-config>
</div>
