<div id='divGameForm' [ngStyle]="{'max-width.px': formWidth()}">
    
  <app-game-header 
    [FlagCount]="flagCount" 
    [Elapsed]="elapsed"
    [GameOver]="gameOver"
    [GameOption]="GameOption"
    (toggleConfigClick)="onToggleConfigClick()"
    (restartClick)="onRestartClick()"
  ></app-game-header>

  <app-game-board
    [GameOption]="GameOption"
    [Board]="board"
    (click)="onCellClicked"
  ></app-game-board>

</div>

<div id='divConfigPanel'>
  <app-game-config></app-game-config>
</div>
