.game-cell {
  font-size: 15pt;
  font-weight: bold;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  color: blue;
  border: 0px;
  margin: 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cellBomb {
  background-image: url(/assets/bomb-cell.png);
  background-color: #a3a3a3;
  background-position: center center;
  background-size: 16px;
}

.cellBombCur {
  background-image: url(/assets/bomb-cell.png);
  background-color: red;
  background-position: center center;
  background-size: 16px;
}

.badCellBomb {
  background-image: url(/assets/bad-bomb-cell.png);
  background-color: #a3a3a3;
  background-position: center center;
  background-size: 16px;
}

.flag-img {
  height: 14px;
}

.cellUnclick {
  background-image: url('/assets/game-cell.png');
  background-size: cover;
}

.empty-cell {
  background-color: #a3a3a3;
}