<form #configForm="ngForm">

  <div class='gc-container'>
    <div class='gc-title'>
      Settings
    </div>

    <div class='gc-field'>
      <div class='gc-label-zone'>
        Rows
      </div>
      <div class='gc-input-zone'>
        <input type='number' id='txtRow' name='txtRow' class='gc-input' [(ngModel)]="GameOption.NbRow" (change)="inputModified()" />
      </div>
    </div>

    <div class='gc-field'>
      <div class='gc-label-zone'>
        Columns
      </div>
      <div class='gc-input-zone'>
        <input type='number' id='txtCol' name='txtCol' class='gc-input' [(ngModel)]="GameOption.NbCol" (change)="inputModified()" />
      </div>
    </div>

    <div class='gc-field'>
      <div class='gc-label-zone'>
        Bombs
      </div>
      <div class='gc-input-zone'>
        <input type='number' id='txtBomb' name='txtBomb' class='gc-input' [(ngModel)]="GameOption.NbBomb" (change)="inputModified()" />
      </div>
    </div>

  </div>

</form>